.interna-portfolio {
  background: url("../img/bg-portifolio.jpg") no-repeat center;
  background-size: cover;
}

.quote-cliente {
  padding: 60px 0;
  max-width: 460px;
  margin: 0 auto;
}

.quote-cliente p {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
}

.quote-cliente cite {
  float: right;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: normal;
  line-height: 25px;
  margin: 30px 0;
}
