.interna-contato {
  background: url("../img/bg-contato.jpg") no-repeat center;
  background-size: cover;
}

.contato {
  margin-top: 40px;
}

.form {
  padding-right: 60px;
}

.form label {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
}

.form input {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  padding: 5px 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10px;
}

.form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid #fec63e;
  background: none;
  padding: 5px 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form button {
  background: none;
  margin: 20px 0px 40px 0;
}

.dados-contato {
  color: #000;
}

.dados-contato h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fec63e;
}

.dados-contato span {
  display: block;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
}

.dados-contato span:nth-of-type(even) {
  margin-bottom: 30px;
}

.dados-contato p {
  margin-top: 10px;
}

.dados-contato ul {
  padding: 10px 0;
}

.dados-contato ul li {
  display: inline-block;
  margin-right: 10px;
}

.dados-contato ul li a {
  border: 3px solid #fec63e;
  display: block;
  padding: 10px;
}

.dados-contato ul li a:hover {
  border-color: #000;
}

.mapa {
  margin-bottom: 60px;
}
