.interna-contato {
  background: url("./img/bg-contato.jpg") no-repeat center;
  background-size: cover;
}

.contato {
  margin-top: 40px;
}

.form {
  padding-right: 60px;
  @include device(m) {
    padding-right: 00px;
  }
}

.form label {
  display: block;
  color: $cor-preta;
  @include tipo-2(18);
}

.form input {
  display: block;
  width: 100%;
  border: 4px solid $cor-primaria;
  background: none;
  padding: 5px 10px;
  outline: none;
  margin-bottom: 10px;
  @include tipo-2(14);
}

.form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid $cor-primaria;
  background: none;
  padding: 5px 10px;
  outline: none;
  @include tipo-2(14);
}

.form button {
  background: none;
  margin: 20px 0px 40px 0;
}

.dados-contato {
  color: $cor-preta;
}

.dados-contato h3 {
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $cor-primaria;
  @include tipo-1(18);
}

.dados-contato span {
  display: block;
  @include tipo-2(18);
}

.dados-contato span:nth-of-type(even) {
  margin-bottom: 30px;
}

.dados-contato p {
  margin-top: 10px;
}

.dados-contato ul {
  padding: 10px 0;
}

.dados-contato ul li {
  display: inline-block;
  margin-right: 10px;
}

.dados-contato ul li a {
  border: 3px solid $cor-primaria;
  display: block;
  padding: 10px;
}

.dados-contato ul li a:hover {
  border-color: $cor-preta;
}

.mapa {
  margin-bottom: 60px;
}
