/* Estilos Gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  @include tipo-2(14);
}

img {
  display: block;
  width: 100%;
}

.btn {
  border: 3px solid $cor-primaria;
  padding: 10px 30px;
  color: $cor-primaria;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  @include tipo-1(14);
}

.btn:hover {
  color: $cor-branca;
  border-color: $cor-branca;
}

.btn.btn-preto:hover {
  color: $cor-preta;
  border-color: $cor-preta;
}

.subtitulo {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: $cor-preta;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  @include tipo-1(24);
}

.subtitulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $cor-preta;
  margin: 8px auto;
}

.subtitulo-interno {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: $cor-preta;
  text-transform: uppercase;
  margin-bottom: 40px;
  @include tipo-1(24);
}

.subtitulo-interno:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $cor-preta;
  margin: 8px 0;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $cor-primaria;
  padding: 15px 0px;
  z-index: 10;
  @include device(m) {
    position: relative;
    padding-bottom: 0;
  }
}

.header img {
  width: 100px;
  @include device(m) {
    width: 140px;
    margin: 0 auto 10px auto;
  }
}

.header_menu {
  text-align: right;
  @include device(m) {
    text-align: center;
  }
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
  @include device(m) {
    margin: 5px;
  }
}

.header_menu ul li a {
  color: $cor-preta;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 0;
  @include tipo-1(14);
  @include device(m) {
    border: 4px solid $cor-preta;
    width: 130px;
    display: block;
    float: left;
  }
}

.header_menu ul li a:hover {
  color: $cor-branca;
  @include device(m) {
    border: 4px solid $cor-branca;
  }
}

.header_menu ul li a.menu-ativo {
  color: $cor-branca;
  @include device(m) {
    border: 4px solid $cor-branca;
  }
}

/* Introdução */

.introducao {
  width: 100%;
  height: 334px;
  background: url("./img/bg-intro.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 80px;
  @include device(m) {
    margin-top: 0;
    padding-top: 20px;
    background: url("./img/bg-intro-mobile.jpg") no-repeat center;
    background-size: cover;
  }
}

.introducao h1 {
  color: $cor-branca;
  font-weight: bold;
  text-transform: uppercase;
  @include tipo-1(48);
  @include device(m) {
    @include tipo-1(36);
  }
}

.quote-externo {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: $cor-branca;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p:before,
.quote-externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $cor-branca;
  margin: 14px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  @include tipo-1(14);
}

/* Introdução Interna */
.introducao-interna {
  width: 100%;
  margin-top: 92px;
  height: 160px;
  text-align: center;
  color: $cor-branca;
  padding-top: 40px;
  @include device(m) {
    margin-top: 0px;
  }
}

.introducao-interna h1 {
  color: $cor-branca;
  font-weight: bold;
  text-transform: uppercase;
  @include tipo-1(36);
}

.introducao-interna h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $cor-branca;
  margin: 6px auto 10px auto;
}

/* Produtos */

.produtos {
  padding: 60px 0;
}

.produtos_lista li {
  background: $cor-primaria;
  text-align: center;
}

.produtos_lista li img {
  margin: 0 auto;
}

.produtos_lista li h3 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
  @include tipo-1(18);
}

.produtos_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $cor-preta;
  margin: 2px auto;
}

.produtos_lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos_icone {
  background: $cor-preta;
  padding: 20px;
  text-align: center;
}

.call {
  padding-top: 40px;
  text-align: center;
  clear: both;
  @include device(m) {
    padding-top: 20px;
  }
}

.call p {
  margin-bottom: 20px;
}

/* Portifolio */

.portfolio {
  width: 100%;
  background-color: $cor-preta;
  padding: 40px 0;
}

.portfolio .subtitulo {
  color: $cor-primaria;
}

.portfolio .subtitulo:after {
  background: $cor-primaria;
}

.portfolio-lista li:last-child {
  margin-top: 20px;
}

.portfolio .call p {
  color: $cor-branca;
}

/* Qualidade */
.qualidade {
  padding: 60px 0;
}

.qualidade img {
  width: 180px;
}

.qualidade:after {
  content: "";
  width: 623px;
  height: 95.5px;
  display: block;
  background: url("./img/linhas.svg") center;
  position: absolute;
  top: 205px;
  left: 168px;
  z-index: -1;
  @include device(t) {
    left: 72px;
  }
  @include device(m) {
    display: none;
  }
}

.qualidade img {
  margin: 0 auto;
}

.qualidade-lista {
  padding-top: 40px;
  overflow: auto; /* Clear fixed */
}

.qualidade-lista li {
  text-align: center;
  padding: 0 40px;
  @include device(t) {
    text-align: center;
    padding: 0 10px;
  }
}

.qualidade-lista li h3 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
  @include tipo-1(18);
}

.qualidade-lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $cor-preta;
  margin: 2px auto;
}

/* Quebra */
.quebra {
  width: 100%;
  height: 220px;
  background: url("./img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.quebra .quote-externo {
  max-width: 400px;
}

/* Footer */

.footer {
  width: 100%;
  background: $cor-preta;
  color: $cor-branca;
  padding: 20px 0;
}

.footer h3 {
  font-weight: bold;
  color: $cor-primaria;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  @include tipo-1(18);
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $cor-primaria;
  margin: 6px 0 10px 0;
}

.footer-historia {
  padding-right: 50px;
}

.footer-contato ul li {
  list-style: square;
  @include tipo-2(14);
}

.footer-redes ul li {
  display: inline-block;
  margin-right: 10px;
  @include device(t) {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
  }
}

.footer-redes ul li a {
  border: 3px solid $cor-primaria;
  display: block;
  padding: 10px;
}

.footer-redes ul li a:hover {
  border-color: $cor-branca;
}

.copy {
  width: 100%;
  background: $cor-primaria;
  padding: 20px 0;
}

/* 5 Adicione o CSS Essencial abaixo */
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #1d1d1d;
}

.js [data-slide-nav] button.active {
  background: $cor-primaria;
}

.js [data-anime] {
  opacity: 0;
}

.fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js .anime {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 800ms, transform 800ms;
}
